<div class="content">
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-12">
      <div class="title">Recipes</div>
    </div>
</div>
</div>
<div class="container d-flex">
  <div class="row d-flex justify-content-center">
     <div class="col-md-4">
       {{#each recipes}}
          &nbsp;
       {{/each}}
     </div>
     <div class="col-md-4">
          {{#each recipes}}
              <a href={{this.recipeLink}} target="_blank" rel="noopener noreferrer"><h3>{{this.id}} {{this.title}}</h3> 
              <img class="img-fluid" src={{this.imageLink}} height="300px"></a><br>
              <button type="btn" class="del" id="{{this.id}}" data-id="{{this.id}}"><i class="fas fa-trash-alt"></i></button>

          {{/each}}
      </div>
      <div class="col-md-4">
       {{#each recipes}}
         &nbsp;
       {{/each}}
     </div>
  </div>
  </div>
  <div class="row d-flex  justify-content-center">
    <div class="col-lg-12 title">
      <button type="btn" id="post">Add Favorite Test Route Button</button>
      <div>&nbsp;</div>
    </div>
</div>
</div>